<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- This section contains the log4net configuration settings -->
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout" value="%date [%thread] %-5level %logger - %message%newline" />
		</appender>

		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="Log/log-info.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>

		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log/" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<staticLogFileName value="false" />
			<datePattern value="yyyyMMdd'.log'" />
			<maxSizeRollBackups value="20" />
			<maximumFileSize value="50MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>

		<logger name="RollingLog">
			<level value="Error" />
			<appender-ref ref="RollingLogFileAppender" />
		</logger>

		<logger name="FileLog">
			<level value="All" />
			<appender-ref ref="FileAppender" />
		</logger>

		<logger name="ConsoleLog">
			<level value="All" />
			<appender-ref ref="ConsoleAppender" />
		</logger>

	</log4net>
</configuration>